body {
  font-size: 16px;
  font-family: "Adobe Garamond", serif;
  padding: 0 3rem;
  color: #000;
}

h1 {
  font-size: 1.8rem;
  line-height: 2.2rem;
}

h2 {
  font-size: 1rem;
  line-height: 1.21rem;
}

h3,
h4,
p,
li {
  font-size: 0.9rem;
  line-height: 1.1rem;
}

h2,
h3,
h4 {
  font-style: italic;
}

h1,
h2,
h3,
h4 {
  margin: 2em 0 1em 0;
}

p {
  margin: 0 0 1em 0;
}

a {
  color: #000;
}
